rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /needed/{docId} {
      allow read;
    }

    match /users/{userId} {
    allow read: if request.auth != null && request.auth.uid == userId;
    allow update: if request.auth != null && request.auth.uid == userId;
    allow create: if request.auth != null;
    }

    match /delivery/{userId} {
    allow read: if request.auth.token.admin == true;
    allow write: if request.auth.token.admin == true;
    }

    match /deliveryprofile/{userid} {
      allow read, update: if request.auth != null && request.auth.uid == resource.data.userid;
      allow create: if request.auth != null && request.auth.uid == userid;
    }

    match /deliveryprofilestate/{userid} {
      allow read: if request.auth != null && request.auth.uid == userid;
    }

    match /volunteerprofile/{userid} {
      allow read, update: if request.auth != null && (request.auth.uid == userid || request.auth.token.admin == true);
      allow create: if request.auth != null && request.auth.uid == userid;
    }

    match /volunteerprofilestate/{userid} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.userid || request.auth.token.admin == true);
      allow update: if request.auth != null && request.auth.token.admin == true;
      // allow create: if request.auth != null && request.auth.uid == userid;
    }

    match /location/{id} {
      allow read: if request.auth != null && request.auth.token.volunteer == true;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /tasktype/{id} {
      allow read: if request.auth != null && request.auth.token.volunteer == true;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /window/{id} {
      allow read: if request.auth != null && request.auth.token.volunteer == true;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /window/{id}/attending/{uid} {
      allow read: if request.auth != null && (request.auth.token.volunteer == true || request.auth.token.admin == true);
      allow create, update, delete: if request.auth != null && (request.auth.uid == uid || request.auth.token.admin == true);
    }

    match /{path=**}/attending/{uid} {
      allow read: if request.auth != null && (request.auth.token.admin == true || request.auth.token.volunteer == true);
    }

    match /unavail/{uid}/ua/{id} {
      allow read: if request.auth != null && (request.auth.token.admin == true || request.auth.uid == uid);
      allow create, update, delete: if request.auth != null && (request.auth.uid == uid || request.auth.token.admin == true);
    }
    match /{path=**}/ua/{id} {
      allow read: if request.auth != null && request.auth.token.admin == true;
    }

    match /privacypolicy/{version} {
      allow read;
    }

    match /terms/{version} {
      allow read;
    }

    match /agreements/{name} {
      allow read: if request.auth != null && (request.auth.token.volunteer == true || request.auth.token.pendingvolunteer == true);
    }

    match /signedagreements/{uid}/{agreementname}/{id} {
      allow create: if request.auth != null && request.auth.uid == uid;
      allow read, delete: if request.auth != null && (request.auth.uid == uid || request.auth.token.admin == true);
    }

    match /forms/{formName} {
      allow create, read, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /processedForms/{uid}/forms/{formName} {
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
      allow read: if request.auth != null && (request.auth.token.admin == true || request.auth.uid == uid);
    }

    match /deliverydestination/{id} {
      allow create, read, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /deliveryroute/{id} {
      allow create, read, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /delivery/{id} {
      allow create, read, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    match /guestprofile/{uid} {
      allow create, read, update: if request.auth.uid == uid || request.auth.token.admin == true;
      allow list: if request.auth.token.admin == true;
    }

    match /item/{id} {
      allow create, update, delete, list: if request.auth != null && request.auth.token.admin == true;
      allow read: if request.auth != null;
    }

    match /orderform/{id} {
      allow create, update, delete, list: if request.auth != null && request.auth.token.admin == true;
      allow read: if request.auth != null;
    }

    match /order/{id} {
      allow read: if request.auth != null && (resource == null || request.auth.uid == resource.data.guestid || request.auth.token.admin == true);
      allow list: if request.auth != null && (request.auth.token.admin == true || request.auth.uid == resource.data.guestid);
      allow create: if request.auth != null && (request.auth.uid == request.resource.data.guestid &&
            (!request.resource.data.keys().hasAny(['status']))) || request.auth.token.admin == true;
      allow update: if request.auth != null && (request.auth.uid == request.resource.data.guestid &&
            (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['status']))) || request.auth.token.admin == true;
      allow delete: if request.auth != null && request.auth.token.admin == true;
    }


  }
}
